<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container dashboard-box">
    <h2>Dashboard</h2>

    <p><strong>Welcome:</strong> {{ user }}</p>
    <p><strong>Role:</strong> {{ role }}</p>

    {% if role == 'admin' %}
        <a href="/admin">Go to Admin Panel</a><br><br>
    {% endif %}

    <a href="/logout">Logout</a>
</div>

</body>
</html>
